@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-lv-toolbar;

}


*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
  
  
 }

 
 .toolbar-main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.125rem;
  
}

  .left-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
     }

     .dropdown-label {
      height: 24px;
      width: auto;
      font-weight: 300;
      line-height: 24px;
      margin-right: 8px;
      font-size: 0.9375rem;
     }

     
    
    .select-label{

      width: 200;

  --csprivate-text-color:var(--cells-select-toggle-placeholder, var(--bbva-medium-blue, #1973B8));

  --cells-select-list-selected-color:var(--cells-select-toggle-placeholder, var(--bbva-medium-blue, #1973B8));
  --csprivate-focus-shadow-color: var(--cells-select-focus-shadow-color, var(--bbva-600, #121212));
  

    } 

  
  

    :host .select-label {
      -webkit-transform: translateY(-0.03125rem);
              transform: translateY(-0.03125rem);
 }
      .richt-container {
        cursor: pointer;
        margin-top: rem(24px);
        display: flex;
        font-weight: 500;
        font-size: rem(16px);
      }