<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="cells-lv-toolbar-styles.html">
<link rel="import" href="../coronita-icons/coronita-icons.html">
<link rel="import" href="../cells-grid-template/cells-grid-template-styles.html">
<!--<link rel="import" href="../cells-select/cells-select.html">-->
<link rel="import" href="../cells-coronita-base-theme/cells-coronita-base-theme.html">
<link rel="import" href="../cells-bfm-selector/cells-select-one.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">




<dom-module id="cells-lv-toolbar">
  <template>
    <style include="cells-lv-toolbar-styles cells-grid-template-styles"></style>
    <div class="cgt"> 
      <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-12 cgt-col-lg-12">

            <div class="toolbar-main-container"> 
        
                    <template is="dom-repeat" items="[[options]]" as="option">
                        
                          <template is="dom-if" if="[[_isEqualTo(option.side,'left')]]">
                            <div class="left-container">
                            
                                <template is="dom-if" if="[[_isEqualTo(option.type,'select')]]">
                                  
                                  <span class="dropdown-label">[[option.text]]</span>
                                <cells-select-one class="select-label" options="[[option.options-select]]"  selected=0></cells-select-one>
                              
                              </template> 
                              
                            </div>
                          </template>
                          
                        
                  

                      <span class="richt-container">
                        <template is="dom-if" if="[[_isEqualTo(option.side,'right')]]">
                          
                            <template is="dom-if" if="[[_isEqualTo(option.type,'button')]]">
                              <cells-st-button class="link">
                                <button class="button-outline" on-click="_setEventButton">
                                  <span class="btn-contents">
                                    <iron-icon class="btn-icon" icon="[[option.icon]]"></iron-icon>
                                    <span class="btn-text">
                                    [[option.text]]
                                    </span> 
                                  </span>
                                </button>
                              </cells-st-button>
                            </template>
                          
                        </template>
                      </span>


                    </template>
                
            </div>
          </div>
        </div>
  </template>
  <script src="cells-lv-toolbar.js"></script>
</dom-module>